@import url("./button.css");
@import url("./responsive/small.css");
@import url("./responsive/medium.css");
@import url("./responsive/big.css");

:root {
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(black, #000099, #66c2ff, #ffcccc, #ffeee6);
}

.stars {
    background-color: white;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    animation-iteration-count: infinite;
}

.star-1 {
    position: sticky;
    margin-top: 3%;
    margin-left: 60%;
    animation-duration: 1.3s;
    animation-name: twinkle;
}

.star-2 {
    position: sticky;
    margin-top: 5%;
    margin-left: 25%;
    animation-duration: 1s;
    animation-name: twinkle;
}

.star-3 {
    position: sticky;
    margin-top: 10%;
    margin-left: 50%;
    animation-duration: 0.9s;
    animation-name: twinkle;
}

.star-4 {
    position: sticky;
    margin-top: 2%;
    margin-left: 20%;
    animation-duration: 1.1s;
    animation-name: twinkle;
}

.star-5 {
    position: sticky;
    margin-top: 1%;
    margin-left: 90%;
    animation-duration: 0.7s;
    animation-name: twinkle;
}

body::-webkit-scrollbar {
    display: none;
}

h1 {
    color: #000000;
    text-align: center;
}

p {
    text-align: center;
    font-size: larger;
}

@keyframes twinkle {
    20% {
      transform: scale(0.5);
      opacity: 0.5;
    }
}