.social-container {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5%;
    height: 100px;
}

i {
    font-size: 32px;
    text-align: center;
}

a {
    color: #000;
}

a:visited {
    color: #000;
}

.fa-youtube:hover {
    color: #dc143c;
}

.fa-gitlab:hover {
    color: #f67828;
}

.available:hover {
    cursor: pointer;
}

.not-available:hover {
    cursor: not-allowed;
}
