.social-container {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5%;
    height: 100px;
}

img {
  height: 35px;
  width: 35px
}

.available:hover {
    cursor: pointer;
}

.not-available:hover {
    cursor: not-allowed;
}
