:root {
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
}

h1 {
    color: #000000;
    text-align: center;
    font-family: sans-serif;
}

p {
    text-align: center;
    font-size: larger;
    font-family: sans-serif;
    font-style: italic;
}

a {
    color: #000;
}

a:visited {
    color: #000;
}
