@media only screen and (max-width: 439px) {
    :root {
        --gap: 10%;
        --size: 200px;
        --header-top: 4%;
        --body-top: 4%;
        --container-size: 350px;
    }
}

@media only screen and (min-width: 440px) and (max-width: 600px) {
    :root {
        --gap: 20%;
        --size: 250px;
        --header-top: 5%;
        --body-top: 5%
    }
}

@media only screen and (min-width: 601px) and (max-width: 1200px) {
    :root {
        --gap: 55%;
        --size: 200px;
        --header-top: 4%;
        --body-top: 4%
    }
}
